@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #001839;
    color: white;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 7px;
    border-radius: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #0085FF;
    border-radius: 5px;
}
